.homes {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
  margin: 15rem 0;
  
 @media only screen and (max-width: $bp-smallest) {
    margin: 8rem 0;
    gap: 4rem;
  }

  .home {
    background-color: $color-grey-light-1;
    gap: 3.5rem 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    border-radius: .7rem;

    &__img {
      width: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }

    &__like {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      width: 2.5rem;
      z-index: 1;
      margin: 1rem;
      justify-self: end;
      height: 2.5rem;
      fill: $color-primary;
    }

    &__name {
      grid-column: 1 / -1;
      color: #fff;
      border-radius: .7rem;
      font-family: $font-display;
      font-size: 1.6rem;
      text-align: center;
      padding: 1.25rem;
      background-color: $color-secondary;
      font-weight: 400;
      margin: -6rem 2.5rem 1rem 2.5rem;
    }

    &__btn {
      grid-column: 1 / -1;
    }

    &__location,
    &__rooms {
      margin-top: -1rem;
    }

    &__location,
    &__area,
    &__rooms,
    &__price {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      margin-left: 2rem;
      gap: 1rem;

      svg {
        fill: $color-primary;
        height: 2rem;
        width: 2rem;
      }
    }
  }
}
